<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cantina - Server</title>
</head>
<body>
    <ul>
        <li>ID: {{ data[0] }}</li>
        <li>Nom: {{ data[1] }}</li>
        <li>Token du dirigeant: {{ data[2] }}</li>
        <li>Commande à executer: {{ data[3] }}</li>
        <li>Dossier où executer: {{ data[4] }}</li>
    </ul>
</body>
</html>