<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cantina - Admin User Manager</title>
</head>
<body>
    <div class="has-text-centered">
        <h1 class="is-size-1"><a href="{{ url_for('server') }}">Cantina</a></h1><br>
        <button style="margin-left: 15px" class="button is-primary is-outlined" onclick="window.location.href = window.location.href + '/run'">Lancer le serveur</button>
        <button style="margin-left: 15px" class="button is-link is-outlined" onclick="">Stopper le serveur</button>
        <button style="margin-left: 15px" class="button is-danger is-outlined" onclick="">Tuer le serveur</button>
    </div>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="margin-top: 30px">
        <thead>
            <tr>
                <th class="is-size-5">ID</th>
                <th class="is-size-5">Nom</th>
                <th class="is-size-5">Propriétaire</th>
                <th class="is-size-5">Commande à executer</th>
                <th class="is-size-5">Dossier où executer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data[0] }}</td>
                <td>{{ data[2] }}</td>
                <td>{{ data[1] }}</td>
                <td>{{ data[4] }}</td>
                <td>{{ data[5] }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>